<%- contentFor('body') %>

<div class="profile">
  <div class="title"><%=loggedInUser.name%>의 Profile</div>
  <div class="description">
    <span>자기 PR</span>
  </div>
  <div class="userName"><%=loggedInUser.name %></div>
  <div class="userEmail"><%=loggedInUser.email %></div>
</div>
