<%- contentFor('body') %>

<form action="" method="POST" enctype="multipart/form-data">
  <label for="image">
    <span>Image File</span>
    <input type="file" id="image" accept="image/*" name="image" />
  </label>
  <input type="text" name="productName" placeholder="Product Name" />
  <input type="text" name="description" placeholder="Description" />
  <input type="text" name="price" placeholder="Start Money" />
  <input type="submit" value="Register Product" />
</form>
